@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-image: url('../img/armada-back.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
    margin: 0;
    padding: 0; 
}


.navbar .nav-item a {
    color: rgb(160, 160, 160);
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon-bars {
    color: white;
}

button.navbar-toggler:focus {
    outline: 1px none;
}

.navbar .nav-item a:hover {
    color: white;
    border-bottom: 3px solid #cc99cc;
}

.navbar li.active a {
    color: white;
    border-bottom: 3px solid #cc99cc;
}

.profile-top {
    border: 0px solid white;
    padding-top: 16px;
    padding-bottom: 16px;
}

.profile {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px
}

.presence {
    height: 64px;
    width: 64px;
    position: relative;
}

.text-armada {
    color: #ffffff;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-armada {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 45px;
    height: 45px;
    background: url('../img/armada-cuy-mini.png') no-repeat bottom right;
    background-size: 100%;
    z-index: 100;
    cursor: pointer;
}

.footer-message {
    cursor: pointer;
    position: fixed;
    left: 25px;
    bottom: 60px;
    margin: 0;
    min-height: 100px;
    max-height: 400px;
    width: 335px;
    background: #000000be;
    z-index: 200;
    border-radius: 3px;
    padding: 15px;
    font-size: 16px;
    animation: slide-up 0.8s ease;
    transition: all 0.7s ease;
}

.footer-message:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #000000be;
    border-bottom: 0;
    border-left: 0;
    margin-left: -5px;
    margin-bottom: -10px;
}

.footer-message-off {
    visibility: hidden;
    opacity: 0;
    bottom: 80px;
    transition: all 0.7s ease;
}

.blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -2;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background: #88888821;
    border-radius: 0px;
}

.pre-blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: transparent;
    border-left: 2px #8888880a solid;
    border-radius: 0px;
    box-shadow: -8px 0px 6px -6px black;
}

.profile-icons-text {
    font-size: 14px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    cursor: pointer;
}

.search-friends {
    background-color: black;
    border-color: transparent;
    border-radius: 0px;
    border-width: 0px;
    color: white;
}

.search-friends:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: black;
    border-color: transparent;
    color: white;
}

.presence-friends {
    height: 45px;
    width: 45px;
    position: relative;
}

.dot-friends {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dot-off {
    background: gray;
}



.player:hover {
    background: #ffffff21;
    cursor: pointer;
}

.player {
    padding: 15px 10px 15px 10px;
    transition-duration: 650ms;
}

.carousel-caption-armada {
    width: 300px;
    height: 100%;
    background-color: #ffffff59;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px 20px;
}

.carousel {
    box-shadow: 8px 8px 6px -6px black;
}

.btn {
    border-radius: 0;
}

.friends-list {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.friends-list::-webkit-scrollbar, .mixtones-list::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.friends-list::-webkit-scrollbar-track, .mixtones-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.friends-list::-webkit-scrollbar-thumb, .mixtones-list::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

.friends-list::-webkit-scrollbar-thumb:hover, .mixtones-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mixtones-list {
    height: 100%;
    min-height: 450px;
    overflow: auto
}

.mixtones-item {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    width: 245px;
    height: 184px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.1s ease;
    color: white;
    position: relative;
    text-shadow: 2px 2px #464646;
    vertical-align: top;
}

.dot-status {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 0px solid white;
    position: absolute;
    right: 3px;
    top: 3px;
}

.dot-status.off {
    background: gray;
}

.dot-status.live {
    background: red;
}

.dot-status.lobby {
    background: greenyellow;
}

.mixtones-item.lobby {
    background-image: url('../img/bg/lobby.png');
}

.mixtones-item.map.de_inferno {
    background-image: url('../img/bg/de_inferno.png');
}

.mixtones-item.map.de_mirage {
    background-image: url('../img/bg/de_mirage.png');
}

.mixtones-item.map.de_cache {
    background-image: url('../img/bg/de_cache.png');
}

.mixtones-item.map.de_cbble {
    background-image: url('../img/bg/de_cbble.png');
}

.mixtones-item.map.de_dust2 {
    background-image: url('../img/bg/de_dust2.png');
}

.mixtones-item.map.de_vertigo {
    background-image: url('../img/bg/de_vertigo.png');
}

.mixtones-item.map.de_overpass {
    background-image: url('../img/bg/de_overpass.png');
}

.mixtones-item.map.de_nuke {
    background-image: url('../img/bg/de_nuke.png');
}

.mixtones-item.map.de_train {
    background-image: url('../img/bg/de_train.png');
}

.mixtones-item:hover {
    background-size: 105%;
}

.search-mixton {
    background-color: rgba(255, 255, 255, 0.274);
    border-color: rgba(255, 255, 255, 0.274);
    border-radius: 0px;
    color: white;
    margin-bottom: 5px;
}

.search-mixton:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.274);
    border-color: rgba(255, 255, 255, 0.274);
    color: white;
    /*box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);*/
    box-shadow: none;
}

.mixton-filter {
    border-color: rgba(255, 255, 255, 0.274);
    color: white;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.274);
}

.mixton-filter:focus {
    border-color: rgba(255, 255, 255, 0.274);
    color: white;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.274);
    /*box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);*/
    box-shadow: none;
}

.mixton-filter option {
    background-color: white;
    color: black;
}